<header>
    <nav>
        <a class=<%= page === "Home" ? "active" : "passive"%> href="/">Главная страница</a>
        <a class=<%= page === "ccar" ? "active" : "passive"%> href="/create-car">Зарегистрировать машину</a>
        <a class=<%= page === "cinfo" ? "active" : "passive"%> href="/search-car">Информация о машинах</a>
        <a class=<%= page === "cstock" ? "active" : "passive"%> href="/create-stock">Зарегистрировать склад</a>
        <a class=<%= page === "sinfo" ? "active" : "passive"%> href="/search-stock">Информация о складах</a>
    </nav>
</header>
